.signup-page-content {
  @include access-content($theme);
  $login-color: if($theme=="light", #080808, #f1f3f5);

  .signup-form {
    width: 100%;
    min-width: 400px;
    padding: 50px 0;
    @include flex-center;

    fieldset {
      @include access-fieldset($login-color);
      legend {
        line-height: 1.2;
        padding-top: 16px;
        width: 100%;
        padding-bottom: 20px;
        font-size: 2rem;
        font-weight: 600;
        color: $login-color;
      }

      .form-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        margin-bottom: 15px;
        border-bottom: 1px solid $login-color;
        padding-bottom: 5px;

        label {
          font-size: 0.8rem;
          padding-left: 10px;
        }

        input {
          margin-left: 10px;
          margin-right: 10px;
          color: $login-color;
          width: 60%;
          height: 2rem;
          border: none;
          background: none;
          font-size: 1.2rem;
        }

        &:nth-child(4) {
          margin-bottom: 0;
        }
      }

      p {
        // margin-top: 7px;
        font-size: 0.7rem;
      }

      .repeat {
        visibility: hidden;

        &.check {
          color: red;
          visibility: visible;
        }
      }
      .form-button {
        @include access-form-button;
      }
      // .btn-group {
      //   width: 100%;

      //   .form-button {
      //     width: 70%;
      //     background: rgba(0, 0, 0, 0.7);
      //     height: 3rem;
      //     margin: 10px 0;
      //     color: #f1f3f5;
      //   }
      // }
    }
  }
}