.book-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book {
  .pop-container{
    width: 100px;
    height: 100px;
  }
  position: relative;

  .cancel-icon {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: -1px;
    right: 0px;
    font-size: 20px;
    display: none;
  }

  &:hover {
    .cancel-icon {
      display: block;
    }
  }
}
.savedbook__info__login-to-use{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 180px;
  bottom: 5px;
  opacity: 0;
  font-size: 12px;
}