.info{
  // display: flex;
  display: flex;
  justify-content: center;
  flex: 8.5 8.5;
}
.bookList-wrapper{
  display: flex;
  flex-direction: column;
  flex: 8.5 8.5;
  // max-width: 1000px;
  .bookList {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }
}
.info{
  width: 100%;
}
